<!DOCTYPE html>
<html>
  <head>
    <title>Sample Cognito App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src='/javascripts/session.js'></script>
  </head>
  <body>
    <div id="login">
      <h1>Welcome <span id="login-user-name"></span></h1>
    </div>
  </body>
</html>
